.vs/*
.idea/*
WotPersonalDataCollectorTests/bin/*
WotPersonalDataCollectorTests/obj/*
WotPersonalDataCollector.SharedKernel/bin/*
WotPersonalDataCollector.SharedKernel/obj/*
WotPersonalDataCollector.SharedKernel.Tests/bin/*
WotPersonalDataCollector.SharedKernel.Tests/obj/*
WotPersonalDataCollectorWebApp.UnitTests/bin/*
WotPersonalDataCollectorWebApp.UnitTests/obj/*
WotPersonalDataCollector.sln.DotSettings.user
WotPersonalDataCollectorWebApp/Properties/launchSettings.json
WotPersonalDataCollectorWebApp/wwwroot/lib/jquery/LICENSE.txt
WotPersonalDataCollectorWebApp/wwwroot/lib/jquery-validation/LICENSE.md
WotPersonalDataCollectorWebApp/wwwroot/lib/bootstrap/LICENSE