@{
	ViewData["Title"] = "WPD - Versions";
}
<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="row text-center border-bottom border-2 border-dark mb-2">
				<h4>Settings</h4>
			</div>
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-6">
							<div class="container">
								<div class="row">
									<p>
										<b>Validate Cosmos DB and ASP.NET dto versions</b>
									</p>
								</div>
								<div class="row">
									<small>Last data version check: XXX</small>
								</div>
							</div>
						</div>
						<div class="col-6">
							<button class="btn btn-dark">Check Versions</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</div>